*{
    margin: 0;
}

html, body{
    height: 100%;
}

header, footer{
    padding: 1rem;
    background-color: rgb(139, 206, 236);
}

p, aside{
    margin: 2rem;
}

main{
    display: flex;
}

main aside{
    flex-shrink: 0;
    margin-right: 2rem;
}

@media (max-width: 768px) {
    main{
        flex-direction: column-reverse; 
    }
}



