body {
    background: #eee;
}

.container {
    margin: 0px auto 0px;
    padding: 40px;
    width: 700px;
}

.full-name {
    font-size: 60px;
    text-transform: uppercase;

}

.last-name {
    font-weight: 20;
}

.contact-info {
    font-size: 14px;
    margin-bottom: 30px;
}

.email,
.phone {
    color: grey;
}

.separator {
    margin-right: 20px;
    margin-left: 20px;
}

.position {
    text-decoration: underline;
    font-weight: bold;
}

.about,
.section__list-item,
.skills__item {
    margin-bottom: 50px;
}

.section__title {
    color: #54afe4;
    margin-bottom: 20px;
    font-size: 20px;
}

.left,
.right {
    display: inline-block;
    width: 49%;
    vertical-align: text-top;
}

.right {
    text-align: right;
}

.name {
    font-weight: bold;
}

input {
    display: none;
}

label {
    display: inline-block;
    height:30px;
    width:30px;
    border-radius:15px;
    background: rgb(184, 238, 238);
    margin-right: 3px;
}

input:checked+label {
    background: rgb(20, 239, 239);
}